html {
    background-color: rgb(0, 0, 0);

}
body {
    background-color: rgb(0, 0, 0);
}

.texto1{
    font-size: 40px;
    padding: 30px;
    color: white;
}

.titulo{
    padding-left:20px;
}
p {
    padding-left: 30px;
    font-size: 20px;
    color:white;
}
.tituloB{
    padding-left: 14px;
    font-size: 20px;
    font-weight: 700;
}
nav {
    height: 75px;
}
.navbar-item{
    padding-top: 10px;
    padding-bottom:12px;
}
.navbar-brand{
    max-width: 80%;
}
.slider-item {
    height: 500px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 60px;
    padding-bottom: 60px;

}
.card-image img{
    width: 200px;
}
.image.is-16by9 {
    padding-top: 56.25%;
    height: 350px;
}
.footer{
    background-color: rgb(28, 30, 31);
    font-size: 20px;
    display: flex;
    padding-bottom: 40px;
    padding-top: 40px;
    align-content: flex-end;
    justify-content: center;
    align-items: center; 
}
.card-content {
    padding: 1.5rem;
    background-color: rgb(17, 17, 17);
}
.item__title{
    color: white;
}
.item__description{
    color: white;
}
.footer strong {
    color: white;
}
.slider-pagination {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5rem 1rem;
    text-align: center;
}
.navbar-item img {
    max-height: 3.95rem;
}
.subtitle{
    padding-top:15px;
}
.tituloPag {
    color: white;
    font-size: 40px;
    padding-top: 45px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.columns:last-child {
    margin-top: -310px;
    background-color: transparent;
}
.is-primary.input, .is-primary.textarea {
    border-color: #6420e3;
    border-width: 2px;
}
.input, .select select, .textarea {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 14px;
    color: #363636;
}
.column {
    padding: 20px;
}
.has-text-primary {
    color: #5f0dca!important;
}
.columna {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 20px;
    width: 400px;
}
.nosotrosTexto{
    padding-top: 35px;
    padding-left: 30px;
    font-size: 17px;
    color:white;

}
#redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}